@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #5AA6DE;
  --secondary-color: #468ED0;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Tourney', cursive;
}

header {
  font-family: var(--primary-font);
  top: 0;
  width: 100vw;
  position: fixed;
  background: var(--secondary-color);
}

nav ul, nav h1 {
  display: inline-flex;
  flex-direction: row;
  padding: 20px;
}

nav ul {
  float: right;
}

nav li {
  list-style: none;
  padding: 30px 15px 5px 15px;
}

nav i {
  padding: 0 10px 0 10px;
}

nav a:hover, nav i:hover {
  color: grey;
  transition: 0.6s;
}

#logo img {
  margin: 10px;
  padding: 2px;
  opacity: 0.8;
  border-radius: 20px;
  border: 2px solid white;
}

.showcase {
  font-family: var(--primary-font);
  z-index: -1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

#scroll-down {
  position: fixed;
  top: 80vh;
}

#home {
  background: url(img/showcase.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#water {
  background: url(img/reservoir.jpg);
}

#wind {
  background: url(img/windmills.jpg);
}

#sun {
  background: url(img/photovoltaic.jpg);
}

#earth {
  background: url(img/yellowstone-national-park.jpg);
}

#atoms {
  background: url(img/nuclear-power-plant.jpg);
}

#plants {
  background: url(img/tree.jpg);
}

.showcase h1, .showcase p {
  background: rgba(100, 100, 100, 0.6);
  z-index: 0;
  border-radius: 100px;
  position: fixed;
  top: 20vh;
  padding: 20px;
  margin: 10px 60px;
}

.showcase p {
  top: 30vh;
}

#about, .quiz {
  z-index: 1;
  border: 2px solid white;
  border-radius: 20px;
  background: var(--primary-color);
  opacity: 0.6;
  text-align: center;
  padding: 20px;
}

#about h1, #about p, .quiz h1 {
  padding: 10px;
  color: black;
}

#about img {
  max-width: 50%;
}

.quiz {
  padding: 20px 5%;
}

.question {
  color: black;
	font-size: 24px;
	margin: 10px;
}

.answers {
  color: black;
  margin-bottom: 20px;
	text-align: justify;
}

.quiz #submit {
  background: var(--secondary-color);
  border: 2px solid white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  background: var(--secondary-color);
  opacity: 0.9;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

footer i {
  padding: 10px;
  font-size: 30px;
}
