@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #5AA6DE;
  --secondary-color: #468ED0;
  --text-color: white;
  --heading-color: black;
  --border: 2px solid white;
}

/*Nav Bar*/

header {
  z-index: 1;
  width: 100vw;
  position: fixed;
  background: var(--secondary-color);
}

.links {
  display: inline-flex;
  flex-direction: row;
  padding: 40px;
  float: right;
}

.dropdown a {
  list-style: none;
  padding: 20px;
  color: var(--text-color);
}

.dropdown i {
  padding: 0 10px;
}

.dropdown a:hover {
  color: grey;
  transition: 0.6s;
}

.links #active {
  color: lightgrey;
}

#logo img {
  display: inline-block;
  margin: 10px;
  padding: 2px;
  opacity: 0.8;
  border-radius: 20px;
  border: var(--border);
}

/*Showcase Text*/

.showcase {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: var(--text-color);
}

.showcase h1:not(#home h1) {
  z-index: 0;
  position: relative;
  padding: 40vh 10vw;
  font-size: 40px;
}

.showcase p:not(#home p) {
  top: 15vh;
  line-height: 1.5;
}

#home h1, #home p {
  z-index: 0;
  position: absolute;
  top: 20vh;
  left: 0;
  padding: 20px;
  font-size: 30px;
  font-style: italic;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.showcase span {
  font-size: 70px;
  font-weight: bolder;
  transform: rotate(-15deg);
  text-align: left;
  font-style: normal;
}

.showcase i {
  color: var(--text-color);
}

.dash {
  font-size: 60px;
  font-weight: bolder;
}

#scroll-down {
  position: absolute;
  top: 80vh;
  left: 48vw;
}

.scroll-down {
  position: relative;
  bottom: 5vh;
}

/*Nav Toggle at Small Screen Size*/

.nav-toggle {
  display: none;
  font-size: 40px;
  margin: 20px;
  padding: 0;
  color: var(--text-color);
}

/*Showcase Background Images*/

#home {
  background: url(img/showcase-2.svg);
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}

#future {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/renewable-energy.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#water {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/reservoir.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#wind {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/windmills-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#sun {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/photovoltaic.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#earth {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/yellowstone-national-park.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#atoms {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/nuclear-power-plant.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#plants {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/tree.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*About Section*/

.about, .quiz {
  z-index: 1;
  border: var(--border);
  border-radius: 20px;
  background: var(--primary-color);
  opacity: 0.6;
  text-align: center;
  padding: 20px;

}

.about h1, .about p, .quiz h1 {
  padding: 10px 10%;
  color: var(--heading-color);
}

.about p {
  text-align: justify;
  color: var(--text-color);
}

.about img {
  max-width: 500px;
  max-height: 500px;
  padding: 20px;
}

/*Quiz*/

.quiz {
  padding: 20px;
  margin: 0 auto;
}

.question {
  color: var(--heading-color);
	font-size: 24px;
	padding: 20px 0 10px 0;
}

.answers {
  color: var(--text-color);
  margin-bottom: 20px;
	text-align: justify;
  padding: 0 10%;
  line-height: 1.5;
}

#submit, #check {
  background: var(--secondary-color);
  color: var(--text-color);
  border: var(--border);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

#results, #score {
  font-size: 20px;
  padding: 20px;
}

/*Image Slider*/

.slider {
  background: var(--primary-color);
  opacity: 0.6;
  border-radius: 10px;
  border: var(--border);
  padding: 20px;
}

.slider-container {
  width: 700px;
  height: 400px;
  border: var(--border);
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.slide img {
  width: 700px;
  height: 400px;
  border-radius: 10px;
}

.slider-btn-container {
  text-align: center;
  color: var(--heading-color);
}

.prevBtn, .nextBtn {
  margin: 5px 0;
  padding: 5px;
  width: 350px;
  border-radius: 10px;
  color: var(--heading-color);
}

/*Tab System*/

#content {
  text-align: center;
  background: var(--primary-color);
  opacity: 0.6;
  border: var(--border);
  padding: 20px;
  border-radius: 10px;
}

#content p {
  padding: 20px 10vw;
  text-align: justify;
  color: var(--text-color);
}

#content h1 {
  text-align: center;
  padding-top: 20px;
  color: var(--heading-color);
}

#content img {
  position: relative;
  border-radius: 10px;
  width: 30vw;
}

.content {
  display: none;
}

.container .active {
  display: inline-block;
}

.tab-btn {
  font-size: 20px;
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  border: var(--border);
  width: 30vw;
}

/*Navigation Dropdown Menu*/

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.dropdown-content a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Drag and Drop*/

#drag-and-drop {
  opacity: 0.6;
  border: var(--border);
  background: var(--primary-color);
  border-radius: 10px;
  text-align: center;
}

#drag-and-drop h1 {
  color: var(--heading-color);
  padding: 20px;
}

.parent {
  border: var(--border);
  color: var(--heading-color);
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.origin {
  background: var(--dark);
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.draggable {
  color: var(--text-color);
  border-radius: 10px;
  background-color: #4AAE9B;
  font-weight: normal;
  margin: 10px;
  padding: 10px;
}

.dropzone {
  background-color: var(--primary);
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.origin p, .dropzone p {
  text-align: center;
  font-size: 20px;
}

/*Footer*/

footer {
  background: var(--secondary-color);
  color: var(--text-color);
  opacity: 0.9;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

footer i {
  color: var(--text-color);
  padding: 10px;
  font-size: 30px;
}

/*Media Query*/

@media only screen and (max-width: 800px) {
  .nav-toggle {
    display: block;
    float: right;
  }

  .links {
    display: none;
  }

  .showlinks {
    display: flex;
    padding: 5px;
  }

  .showcase span {
    font-size: 60px;
  }

  .about img {
    max-width: 70vw;
    max-height: 60vh;
  }

  .tab-btn {
    width: 40vw;
    height: 6vh;
    padding: 0;
  }

  .slider-container, .slide img {
    width: 80vw;
    height: 40vh;
  }

  .prevBtn, .nextBtn {
    width: 40vw;
  }
}
