@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #5AA6DE;
  --secondary-color: #468ED0;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Tourney', cursive;
}

/*Nav Bar*/

header {
  font-family: var(--primary-font);
  top: 0;
  z-index: 1;
  width: 100vw;
  position: fixed;
  background: var(--secondary-color);
}

.links {
  display: inline-flex;
  flex-direction: row;
  padding: 35px;
  float: right;
}

.dropdown a {
  list-style: none;
  padding: 15px;
}

.dropdown i {
  padding: 0 10px 0 10px;
}

.dropdown a:hover {
  color: grey;
  transition: 0.6s;
}

#logo img {
  display: inline-block;
  margin: 10px;
  padding: 2px;
  opacity: 0.8;
  border-radius: 20px;
  border: 2px solid white;
}

/*Nav Toggle at Small Screen Size*/

.nav-toggle {
  display: none;
  font-size: 40px;
  margin: 20px;
  padding: 0;
}

@media only screen and (max-width: 900px) {
  .nav-toggle {
    display: block;
    float: right;
  }

  .links {
    display: none;
  }

  .showlinks {
    display: flex;
  }
}

/*Showcase Text*/

.showcase {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.showcase h1:not(#home h1), .showcase p:not(#home p) {
  z-index: 0;
  position: absolute;
  margin: 10%;
  top: 10vh;
}

.showcase p:not(#home p) {
  top: 15vh;
  line-height: 1.5;
}

#home h1, #home p {
  z-index: 0;
  position: absolute;
  top: 20vh;
  left: 0;
  margin: 10px;
  font-size: 30px;
  font-style: italic;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.showcase span {
  font-size: 70px;
  font-weight: bolder;
  transform: rotate(-15deg);
  text-align: left;
  font-style: normal;
}

.showcase p {
  top: 30vh;
}

.dash {
  font-size: 60px;
  font-weight: bolder;
}

#scroll-down {
  position: absolute;
  top: 80vh;
}

/*Showcase Background Images*/

#home {
  background: url(img/showcase-3.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#water {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/reservoir.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#wind {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/windmills-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#sun {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/photovoltaic.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#earth {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/yellowstone-national-park.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#atoms {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/nuclear-power-plant.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#plants {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(40, 40, 40, 0.4)), url(img/tree.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*About Section*/

#about, .quiz {
  z-index: 1;
  border: 2px solid white;
  border-radius: 20px;
  background: var(--primary-color);
  opacity: 0.6;
  text-align: center;
  padding: 20px;

}

#about h1, #about p, .quiz h1 {
  padding: 10px 10%;
  color: black;
}

#about p {
  text-align: justify;
  color: white;
}

#about img {
  max-width: 50%;
}

/*Quiz*/

.quiz {
  padding: 20px 5%;
  margin: 0 auto;
}

.question {
  color: black;
	font-size: 24px;
	padding: 20px 0 10px 0;
}

.answers {
  color: black;
  margin-bottom: 20px;
	text-align: justify;
  padding: 0 20%;
  line-height: 1.5;
}

.quiz #submit {
  background: var(--secondary-color);
  border: 2px solid white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

/*Image Slider*/

.slider-container {
  width: 40vw;
  height: 40vh;
  border: 2px solid black;
  margin: 0 auto;
  overflow: hidden;
}

.slide img {
  width: 40vw;
  height: 40vh;
}

.slider-btn-container {
  text-align: center;
  color: black;
}

.prevBtn, .nextBtn {
  width: 20vw;
  color: black;
}

/*Tab System*/

#content {
  text-align: center;
  background: var(--primary-color);
  opacity: 0.6;
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
}

#content p, #content h1 {
  padding: 20px 10vw;
  text-align: justify;
  font-family: var(--primary-font);
}

#content img {
  position: relative;
  border-radius: 10px;
  width: 30vw;
}

.content {
  display: none;
}

.container .active {
  display: inline-block;
}

.tab-btn {
  font-size: 20px;
  background: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid white;
  width: 30vw;
}

/*Nav Dropdown Menu*/

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.dropdown-content a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Drag and Drop*/

#drag-and-drop {
  opacity: 0.6;
  border: 2px solid white;
  background: var(--primary-color);
  border-radius: 10px;
}

#drag-and-drop h1 {
  text-align: center;
  padding: 20px;
}

.parent {
  border: 2px solid white;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.origin {
  background: var(--dark);
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.draggable {
  background-color: #4AAE9B;
  font-weight: normal;
  margin: 10px;
  padding: 10px;
}

.dropzone {
  background-color: var(--primary);
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.origin p, .dropzone p {
  text-align: center;
  font-size: 20px;
}

/*Footer*/

footer {
  background: var(--secondary-color);
  opacity: 0.9;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

footer i {
  padding: 10px;
  font-size: 30px;
}
