* {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: 'Tourney', cursive;
}

header {
  top: 0;
  width: 100vw;
  position: fixed;
  background: #468ED0;
  opacity: 0.9;
}

nav ul, nav h1 {
  display: inline-flex;
  flex-direction: row;
  padding: 20px;
}

nav ul {
  float: right;
}

nav li {
  list-style: none;
  padding: 30px 15px 5px 15px;
}

nav i {
  padding: 0 10px 0 10px;
}

nav a:hover, nav i:hover {
  color: grey;
  transition: 0.6s;
}

#logo img {
  margin: 10px;
  padding: 2px;
  opacity: 0.8;
  border-radius: 20px;
  border: 2px solid white;
}

.showcase {
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
}

#home {
  background: url(img/showcase.jpg);
}

#water {
  background: url(img/reservoir.jpg);
}

#wind {
  background: url(img/windmills.jpg);
}

#sun {
  background: url(img/photovoltaic.jpg);
}

#earth {
  background: url(img/yellowstone-national-park.jpg);
}

#atoms {
  background: url(img/nuclear-power-plant.jpg);
}

#plants {
  background: url(img/tree.jpg);
}

.showcase h1, .showcase p {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 100px;
  position: relative;
  top: 150px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.about {
  background: #5AA6DE;
  opacity: 0.9;
  text-align: center;
  padding: 20px;
}

.about h1 {
  padding: 10px;
}

footer {
  background: #468ED0;
  opacity: 0.9;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

footer i {
  padding: 10px;
  font-size: 30px;
}
